* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "GillSans-Bold";
	src: url("../font/GillSans-Bold.otf");
}
@font-face {
	font-family: "futura_medium";
	src: url("../font/futura_medium1.ttf");
}
@font-face {
	font-family: "avenir_book";
	src: url("../font/avenir_book.ttf");
}
@font-face {
	font-family:"didot";
	src: url("../font/didot.ttf");
}
@font-face {
	font-family:"baskerville";
	src: url("../font/baskerville.ttf");
}

body {
	background: url(../../img/back2.jpg);
	background-size: 100%;
	overflow: hidden;
}

#box_con {
	width: 100%;
	color: white;
	height: 64px;
}

.box2 {
	width: 99909px;
	overflow: hidden;
}

.line {

	overflow: hidden;
	height: 64px;
	white-space: nowrap;
}

.box {
	float: left;
	width: 130px;
	height: 60px;
	background: black;
	border: 2px solid red;
	overflow: hidden;
	display: inline;
}

.box1 {
	margin-left: -90px;
}

.box3 {
	margin-left: -20px;
}

.top_right {
	position: absolute;
	top: 0;
	color: white;
	font-size: 100px;
	left: 50px;
	letter-spacing: 10px;
}
